{% extends parent_template|default:"chores/base_chore.html" %}

{% block title %}
{{ block.super }} - Delete Chore
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
          action="{{ chore.get_delete_url }}"
          method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete
          chore {{ chore.name }}?
        </p>
        <a href="{{ chore.get_absolute_url }}">
          Cancel</a>
        <button type="submit">Delete Chore</button>
      </form>
    </div>
  </div>
{% endblock %}